<?- include('./common/head') -?>
	<?- include('./common/right_slide') -?>
	<?- include('./common/fix_head') -?>

    <!--中间主题内容-->
	<div class="content panel" id="panel">
		<!--滑动轮播-->
        <div class="banner">
            <div class="slide">
                <ul>
                    <li>
                        <a href="/anchor.html"><img data-src="/public/images/swiper.jpg" src="/public/images/swiper.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="//m.yhd.com/"><img src="http://d10.yihaodianimg.com/V00/M03/4D/41/CgQDsVQG4d6AISZPAAFa7N3KyPY18100.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="//www.baidu.com/"><img src="http://d10.yihaodianimg.com/V00/M04/32/59/CgQDsVQDEtaAVv4BAAEFc6n3fws75000.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="//m.taobao.com/"><img src="http://d11.yihaodianimg.com/N05/M04/82/EC/CgQI01QEHoiAFBbgAAC9du5zOPc62900.jpg" alt=""></a>
                    </li>
                </ul>
                <div class="dot">
                    <span class="cur"></span>
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
            </div>
        </div>
        <!--热播排行榜-->
        <div class="row hot-rank">
            <h2 class="clr">
                <strong>
                    <i>
                    </i>热播排行榜</strong>
                <a href="/rank.html">查看全部
                    <b>></b>
                </a>
            </h2>
            <ul class="hot-rank-list clr">
                <li>
                    <a href="/anchor.html">
                        <img src="/public/images/avatar.png" alt="七凯丽">
                        <h6>七凯丽</h6>
                        <p>
                            <i>
                            </i>233.58℃</p>
                        <div class="rank-num">
                            <b>1</b>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images/avatar.png" alt="七凯丽">
                        <h6>七凯丽</h6>
                        <p>
                            <i>
                            </i>233.58℃</p>
                        <div class="rank-num">
                            <b>2</b>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images/avatar.png" alt="七凯丽">
                        <h6>七凯丽</h6>
                        <p>
                            <i>
                            </i>233.58℃</p>
                        <div class="rank-num">
                            <b>3</b>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images/avatar.png" alt="七凯丽">
                        <h6>七凯丽</h6>
                        <p>
                            <i>
                            </i>233.58℃</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images/avatar.png" alt="七凯丽">
                        <h6>七凯丽</h6>
                        <p>
                            <i>
                            </i>233.58℃</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--正在热播-->
        <div class="row hot-now">
            <h2 class="clr">
                <strong>
                    <i>
                    </i>正在热播</strong>
                <a href="#">查看全部
                    <b>>></b>
                </a>
            </h2>
            <!--英雄联盟-->
            <div class="row-item yxlm">
                <h4 class="clr">
                    <span>英雄联盟</span>
                    <a href="#">></a></h4>
                <ul class="clr">
                    <li>
                        <a href="#">
                            <img src="/public/images/item.jpg" alt="英雄联盟">
                            <h5>德杯淘汰赛 RW vs Snake</h5>
                            <p class="clr">
                                <span class="anchor-name">
                                    <i>
                                    </i>德玛西亚杯官方</span>
                                <span class="hot-num">
                                    <i>
                                    </i>233.58℃</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/public/images/item.jpg" alt="英雄联盟">
                            <h5>德杯淘汰赛 RW vs Snake</h5>
                            <p class="clr">
                                <span class="anchor-name">
                                    <i>
                                    </i>德玛西亚杯官方</span>
                                <span class="hot-num">
                                    <i>
                                    </i>233.58℃</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!--王者荣耀-->
            <div class="row-item wzry">
                <h4 class="clr">
                    <span>英雄联盟</span>
                    <a href="#">></a></h4>
                <ul class="clr">
                    <li>
                        <a href="#">
                            <img src="/public/images/item.jpg" alt="英雄联盟">
                            <h5>德杯淘汰赛 RW vs Snake</h5>
                            <p class="clr">
                                <span class="anchor-name">
                                    <i>
                                    </i>德玛西亚杯官方</span>
                                <span class="hot-num">
                                    <i>
                                    </i>233.58℃</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/public/images/item.jpg" alt="英雄联盟">
                            <h5>德杯淘汰赛 RW vs Snake</h5>
                            <p class="clr">
                                <span class="anchor-name">
                                    <i>
                                    </i>德玛西亚杯官方</span>
                                <span class="hot-num">
                                    <i>
                                    </i>233.58℃</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--公告-->
        <div class="notice-row">
            <h4>官方公告
                <a href="#">查看全部
                    <b>>></b>
                </a>
            </h4>
            <ul>
                <li>
                    <a href="#">曾经是一姐，现只剩下千人捧场！</a></li>
                <li>
                    <a href="#">曾经是一姐，现只剩下千人捧场！</a></li>
                <li>
                    <a href="#">曾经是一姐，现只剩下千人捧场！</a></li>
            </ul>

		<?- include('./common/footer') -?>

	</div>

<?- include('./common/foot') -?>
