<!--固定头部-->
<div class="header">
    <a class="rank-icon" href="/"></a>
    <div class="search-con">
        <a href="/search.html">搜主播房间</a>
        <div class="search-btn"></div>
    </div>
    <a id="side-trigger" class="cate-icon" href="javascript:;"></a>
</div>