<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>vShare VIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <script type="text/javascript">(function(e, t) {
        var o = e.documentElement,
        n = "orientationchange" in window ? "orientationchange": "resize",
        i = function() {
            var e = o.clientWidth || window.innerWidth || screen.width;
            if (e) {
                var t = 100 * (e / 375);
                t > (100 * (1024 / 375)) && (t = 100 * (1024 / 375)),
                o.style.fontSize = t + "px"
            }
        };
        e.addEventListener && t.addEventListener(n, i, !1),
        i();
    })(document, window)
    </script>
</head> 
<body>
    <div class="page">

